<div class="body"></div>


		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <div class="fadeIn first">
		      <img src="../../../assets/nnagame.png" id="icon" alt="User Icon" />
		      <h1>NNA Sport</h1>
		    </div>

				<form>
					<div class="form-group">
							<label for="email">email</label>
							<input id="email" class="form-control" required type="email" name="email">
					 </div>
					 <div class="form-group">
							<label for="password">password</label>
							<input id="password" class="form-control" required type="password" name="password">
					 </div>
					 <div class="form-group">
							<label for="keluarahan">Kelurahan</label>
							<input id="kelurahan" class="form-control" required type="text" name="kelurahan">
					 </div>
					 <div class="form-group">
							<label for="keluarahan">Hak Akses</label>
							<input id="kelurahan" class="form-control" required type="text" placeholder="commitee" name="kelurahan">
							<small text-danger>input commitee</small>
					 </div>
					 <button type="submit" class="btn btn-primary">Save</button>
				</form>

		    <div id="formFooter">
				<a class="underlineHover text-dark" routerLink="signup">Go to the signup</a>
				<br><small>signup with</small>
				<br>
				<a href="#" class="fab fa-facebook"></a> &nbsp;
				<a href="#" class="fab fa-google"></a>
		    </div>

		  </div>
		</div>
